vendor/
.idea

# Important! As this bundle is a dependancy for other projects
# it shouldn't be strictly locked to specific versions of dependancies
composer.lock

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

.DS_Store
tests/_output