/.web-server-pid
bin/
web/
var/
vendor/
.idea
/phpunit.xml
composer.lock
###> symfony/framework-bundle ###
/.env
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
